<div *ngIf="apiLoaded | async">
  <google-map id="gmap"
    height="400px"
    width="640px"
    [options]="options"
  >
    <div *ngFor="let i of locations">
    <map-polygon
    [options]="polygon_Option[i.id - 1]"
    (polygonDblclick)="clickLocation($event)"
    ></map-polygon>
    </div>

  </google-map>
</div>

<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
