<div class="container">
  <div class="loading-shade"
    *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      Rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <div class="table-container mat-elevation-z8">
    <table [dataSource]="data" mat-table class="full-width-table" matSort aria-label="Elements"
      matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
      <!-- Id Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row">{{row.date}}</td>
      </ng-container>

       <!-- Name Column -->
       <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let row">{{row.location}}</td>
       </ng-container>

       <!-- Name Column -->
       <ng-container matColumnDef="mode">
        <th mat-header-cell *matHeaderCellDef>Mode</th>
        <td mat-cell *matCellDef="let row">{{row.mode}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef>Rssi</th>
        <td mat-cell *matCellDef="let row">{{row.detail}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator #paginator
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="30"
    >
    </mat-paginator> -->
  </div>
</div>

<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
