<p>factor works!</p>
<div *ngFor="let chart of chartsOptions">
  <p>{{chart.local.name}}</p>
  <span class="p-badge p-badge-success">{{chart.local.id}}</span>
  <!-- <span class="p-badge p-badge-danger">{{chart.local.id}}</span> -->
  <apx-chart
  [series]="chart.series"
  [chart]="chart.chart"
  [plotOptions]="chart.plotOptions"
  [colors]="chart.colors"
  [dataLabels]="chart.dataLabels"
  [labels]="chart.labels"
  [stroke]="chart.stroke"
  [xaxis]="chart.x_axis"
  [yaxis]="chart.y_axis"
  [title]="chart.title"
  [subtitle]="chart.subtitle"
  [tooltip]="chart.tooltip"
  ></apx-chart>
</div>
<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
