<div class="container">
  <div class="loading-shade"
    *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      Rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <div class="table-container mat-elevation-z8">
    <table [dataSource]="data" mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let row">{{row.location.name}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="connection">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Connection</th>
        <td mat-cell *matCellDef="let row">
          {{row.connection}}
        </td>
      </ng-container>

      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let row">{{row.data}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
        [length]="data.length"
        [pageIndex]="0"
        [pageSize]="20"
        >
    </mat-paginator>
  </div>
</div>
<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
