#linechart {
  max-width: auto;
  margin: 15px auto;
}

mat-grid-tile {
  max-width: 380;
  height: 600;
}

/*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
