<simple-dashboard-simple [header]="header" [menu]="menu" [content]="content">
      <div>
          <apx-chart id="linechart"
          [series]="linechartOptions.series"
          [chart]="linechartOptions.chart"
          [xaxis]="linechartOptions.x_axis"
          [dataLabels]="linechartOptions.dataLabels"
          [grid]="linechartOptions.grid"
          [stroke]="linechartOptions.stroke"
          [title]="linechartOptions.title"
          [autoUpdateSeries]=true
          ></apx-chart>
          <div>
              <section>
                <div class="example-button-row">
                  <button mat-raised-button class="p-button-raised" (click)="showKW()">kW</button>
                  <button mat-raised-button (click)="showKVAR()">kvar</button>
                  <button mat-raised-button (click)="showKVA()" >kVA</button>
                </div>
              </section>
          </div>
      </div>   
          
          <div class="badges">
          <p>{{selectedLocation.name}}</p>
            <span class="p-badge p-badge-success" *ngIf="isOnline">{{selectedLocation.id}}</span>
            <span class="p-badge p-badge-danger" *ngIf="isOffline">{{selectedLocation.id}}</span>
          </div>
          <apx-chart id="vbarchart"
              [series]="vbarchartOptions.series"
              [chart]="vbarchartOptions.chart"
              [xaxis]="vbarchartOptions.x_axis"
              [yaxis]="vbarchartOptions.y_axis"
              [plotOptions]="vbarchartOptions.plotOptions"
              [dataLabels]="vbarchartOptions.dataLabels"
              [grid]="vbarchartOptions.grid"
              [stroke]="vbarchartOptions.stroke"
              [title]="vbarchartOptions.title"
              ></apx-chart>
            
      
            <div class="badges">
            <p>{{selectedLocation.name}}</p>
              <span class="p-badge p-badge-success" *ngIf="isOnline">{{selectedLocation.id}}</span>
              <span class="p-badge p-badge-danger" *ngIf="isOffline">{{selectedLocation.id}}</span>
            </div>
            <apx-chart id="hbarchart"
            [series]="hbarchartOptions.series"
            [chart]="hbarchartOptions.chart"
            [dataLabels]="hbarchartOptions.dataLabels"
            [plotOptions]="hbarchartOptions.plotOptions"
            [xaxis]="hbarchartOptions.x_axis"
            [yaxis]="hbarchartOptions.y_axis"
            [grid]="hbarchartOptions.grid"
            [stroke]="hbarchartOptions.stroke"
            [title]="hbarchartOptions.title"
            ></apx-chart>
          
       
            <p>{{selectedLocation.name}}</p>
            <apx-chart id="piechart"
            [series]="piechartOptions.series"
            [chart]="piechartOptions.chart"
            [xaxis]="piechartOptions.x_axis"
            [dataLabels]="piechartOptions.dataLabels"
            [grid]="piechartOptions.grid"
            [stroke]="piechartOptions.stroke"
            [title]="piechartOptions.title"
            [labels]="piechartOptions.labels"
            ></apx-chart>
          
      

            <p>{{selectedLocation.name}}</p>
            <mat-grid-list cols="6" rowHeight="6:4" >
              <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile>220V</mat-grid-tile>
              <mat-grid-tile ></mat-grid-tile>
              <mat-grid-tile>380V</mat-grid-tile>
              <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile>A</mat-grid-tile>
              <mat-grid-tile>R-N</mat-grid-tile>
              <mat-grid-tile>{{electric.P2[0]}}</mat-grid-tile>
              <mat-grid-tile>R-S</mat-grid-tile>
              <mat-grid-tile>{{electric.P3[0]}}</mat-grid-tile>
              <mat-grid-tile>R</mat-grid-tile>
              <mat-grid-tile>{{electric.A[0]}}</mat-grid-tile>
              <mat-grid-tile>S-N</mat-grid-tile>
              <mat-grid-tile>{{electric.P2[1]}}</mat-grid-tile>
              <mat-grid-tile>S-T</mat-grid-tile>
              <mat-grid-tile>{{electric.P3[1]}}</mat-grid-tile>
              <mat-grid-tile>S</mat-grid-tile>
              <mat-grid-tile>{{electric.A[1]}}</mat-grid-tile>
              <mat-grid-tile>T-N</mat-grid-tile>
              <mat-grid-tile>{{electric.P2[2]}}</mat-grid-tile>
              <mat-grid-tile>T-R</mat-grid-tile>
              <mat-grid-tile>{{electric.P3[2]}}</mat-grid-tile>
              <mat-grid-tile>T</mat-grid-tile>
              <mat-grid-tile>{{electric.A[2]}}</mat-grid-tile>
            </mat-grid-list>
          
      
</simple-dashboard-simple>

<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
