<div style="height: 100%;"><mat-grid-list cols="4" rowHeight="2:1" style="height: 100%;">
  <mat-grid-tile *ngFor="let chart of chartsOptions" style="width: 25%;">
    <apx-chart
    [series]="chart.series"
    [chart]="chart.chart"
    [dataLabels]="chart.dataLabels"
    [labels]="chart.labels"
    [stroke]="chart.stroke"
    [title]="chart.title"
    [responsive]="chart.responsive"
    ></apx-chart>
  </mat-grid-tile>
</mat-grid-list>
</div>
<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
