#piechart {
  max-width: 300px;
  margin: 15px auto;
  max-height: 300px;
}

mat-grid-tile {
  max-width: 300px;
  margin: 15px auto;
  max-height: 300px;
}

/*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
