<div class="badges" *ngFor="let chart of chartsOptions">
  <p>{{chart.local.name}}</p>
  <span id="{{chart.local.id}}" class="p-badge p-badge-success">{{chart.local.id}}</span>
  <!-- <span class="p-badge p-badge-danger">{{chart.local.id}}</span> -->
  <mat-grid-list cols="6" rowHeight="6:2" >
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>220V</mat-grid-tile>
    <mat-grid-tile ></mat-grid-tile>
    <mat-grid-tile>380V</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>A</mat-grid-tile>
    <mat-grid-tile>R-N</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].P3[0]}}</mat-grid-tile>
    <mat-grid-tile>R-S</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].P2[0]}}</mat-grid-tile>
    <mat-grid-tile>R</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].A[0]}}</mat-grid-tile>
    <mat-grid-tile>S-N</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].P3[1]}}</mat-grid-tile>
    <mat-grid-tile>S-T</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].P2[1]}}</mat-grid-tile>
    <mat-grid-tile>S</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].A[1]}}</mat-grid-tile>
    <mat-grid-tile>T-N</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].P3[2]}}</mat-grid-tile>
    <mat-grid-tile>T-R</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].P2[2]}}</mat-grid-tile>
    <mat-grid-tile>T</mat-grid-tile>
    <mat-grid-tile>{{electric[chart.local.id-1].A[2]}}</mat-grid-tile>
  </mat-grid-list>
</div>

<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
