<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
    <h1>Welcome to {{title}} by EmOne®</h1>
    <nav>
      <a routerLink="/main" (click)="changeOptions()">Main</a>
      <a routerLink="/location" (click)="changeOptions()">Location</a>
      <a routerLink="/consume" (click)="changeOptions()">Consume power</a>
      <a routerLink="/power" (click)="changeOptions()">Power</a>
      <a routerLink="/electric" (click)="changeOptions()">Volt Amp</a>
      <a routerLink="/factor" (click)="changeOptions()">Power factor unbalance</a>
      <a routerLink="/harmonic" (click)="changeOptions()">Frequency harmonic</a>
      <a routerLink="/alarm" (click)="changeOptions()">Alarm</a>
      <a routerLink="/system" (click)="changeOptions()">System</a>
    </nav>

    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [value]="date.value"
                (dateChange)="addEvent('change', $event)" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- <mat-datepicker #picker [calendarHeaderComponent]="datepickerHeader"></mat-datepicker> -->
    </mat-form-field>

  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
			<nb-card-header>

      </nb-card-header>
			<nb-card-body>
        <ngx-spinner><p class="loading">Loading ...</p></ngx-spinner>

				<router-outlet (activate)="onActivate($event)"></router-outlet>
      </nb-card-body>
		</nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>

 <!-- /*
    Copyright EmOne. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license
    */ -->
