<!-- <table>
  <tr>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
    <td>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series_axis"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </td>
  </tr>
</table> -->

<div *ngFor="let chart of chartsOptions">
  <apx-chart
  [series]="chart.series"
  [chart]="chart.chart"
  [xaxis]="chart.x_axis"
  [dataLabels]="chart.dataLabels"
  [grid]="chart.grid"
  [stroke]="chart.stroke"
  [title]="chart.title"
></apx-chart>
</div>

<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
