<div id="wrapper">
  <div class="content-area">
      <table class="main">
        <tr style="width: 100%;">
          <td colspan="1">
            <div>
                <h4>Power consumption</h4>
                <div >
                  <apx-chart id="piechart"
                    [series]="piechartOptions.series"
                    [chart]="piechartOptions.chart"
                    [labels]="piechartOptions.labels"
                    [fill]="piechartOptions.fill"
                    [colors]="piechartOptions.colors"
                    [responsive]="piechartOptions.responsive"
                  ></apx-chart>
              </div>
            </div>
          </td>
          <td colspan="1">
            <div>
                <apx-chart id="mapchart"
                  [series]="mapchartOptions.series"
                  [chart]="mapchartOptions.chart"
                  [dataLabels]="mapchartOptions.dataLabels"
                  [plotOptions]="mapchartOptions.plotOptions"
                  [title]="mapchartOptions.title"
                  [colors]="mapchartOptions.colors"
                ></apx-chart>
            </div>
          </td>
          <td colspan="1">
            <div id="barchart">
              <apx-chart
                [series]="barchartOptions.series"
                [chart]="barchartOptions.chart"
                [dataLabels]="barchartOptions.dataLabels"
                [plotOptions]="barchartOptions.plotOptions"
                [xaxis]="barchartOptions.x_axis"
              ></apx-chart>
            </div>
          </td>
          <td colspan="1">
            <div id="linechart">
                <apx-chart
                  [series]="linechartOptions.series"
                  [chart]="linechartOptions.chart"
                  [xaxis]="linechartOptions.x_axis"
                  [dataLabels]="linechartOptions.dataLabels"
                  [grid]="linechartOptions.grid"
                  [stroke]="linechartOptions.stroke"
                  [title]="linechartOptions.title"
                ></apx-chart>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="1" style="vertical-align:text-top; text-align: right;">
            <mat-list>
              <mat-divider></mat-divider>
              <mat-list-item><h3 style="text-align: right;">{{totalEnergy}} kWh</h3></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><h3 style="text-align: right;">{{totalExpense(totalEnergy)}} บาท</h3></mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </td>
          <td colspan="2">
            <app-google-map></app-google-map>
          </td>
          <td colspan="1">

          </td>
        </tr>
      </table>
  </div>
</div>

<!-- /*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/ -->
