// #chart {
//   max-width: 380px;
//   margin: 35px auto;
//   padding: 0;
// }

// #piechart {
//   max-width: 580px;
//   margin: 35px auto;
//   padding: 0;
// }

// #mapchart {
//   max-width: 380px;
//   margin: 35px auto;
//   padding: 0;
// }

// #linechart {
//   max-width: 380px;
//   margin: 35px auto;
//   padding: 0;
// }

// #barchart {
//   max-width: 380px;
//   margin: 35px auto;
//   padding: 0;
// }

table, th, td {
  // border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

tr {
  width: 100%;
}

content-area {
  width: 100%;
}

main {
  width: 100%;
}
/*
Copyright EmOne. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
